<h1 class="display-4" style="text-align:center"> Welcome To Quiz Application!</h1>

<div class="jumbotron">
    <p class="lead">
        When writing test or quiz instructions, there are several items you may want to consider including, depending on the structure of your quiz. Some of the information below may not apply:
    </p>

    <hr class="my-4">
    <ul>
        <li>Focus and Purpose of the Test/Quiz - Provide students context by letting them know what content is being focused on for the quiz and the learning goals the quiz is measuring.</li>
        <li>Number and Type of Questions - Letting students know how many questions and whether the questions include multiple-choice, true-false, fill-in-the-blank, or essay will let them know what to expect and an idea of how long it will take them to complete
            the quiz.</li>
        <li>Whether Students Can Expect Feedback - Including question feedback is recommended, as it helps students better learn from the test experience. This is especially important for practice quizzes. Let students know if they will be receiving feedback
            so they know what to expect.</li>
        <li>Navigation Instructions - In an online environment, letting students know what to expect with the quiz navigation is important. Will all the questions be on one screen? Or, will they need to click "Next" to see the next question? What buttons
            do they click to start or submit a quiz? </li>
        <li>Whether Students Get Multiple Attempts - You can set up a test or quiz so students can take it as many times as you indicate with either their last attempt or highest score for their grade. Let students know what to expect if you set up your test
            or quiz in this way. </li>
        <li>If the Test/Quiz is Timed - If a test or quiz is timed, emphasize this to students letting them know when the time starts and the importance of completing the test in one sitting.</li>
    </ul>
</div>

<app-quiz></app-quiz>